@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: block;
  src: url(notoserifdevanagari-0.ttf) format('truetype');
}
